.Button {
  --padding: 1rem 1.5rem;
  --background: var(--color-white);
  --color: var(--color-teal);

  display: inline-block;
  padding: var(--padding);

  color: var(--color);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;

  background: var(--background);
  border-radius: 3px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

[data-size="tiny"] {
  --padding: 0;
}

[data-size="small"] {
  --padding: 0.5rem 1rem;
}

@media (hover: hover) {
  .Button:hover,
  .Button:focus {
    --background: var(--color-blue);
    --color: var(--color-white);
  }
}

.Button[data-theme="dark"] {
  --background: var(--color-gradient-teal-blue);
  --color: var(--color-white);
}

.Button[data-theme="naked"] {
  --background: var(--color-white);
  --color: var(--color-blue);
  border: none;

  text-align: left;
}

@media (hover: hover) {
  .Button[data-theme="dark"]:not([data-nohover]):hover,
  .Button[data-theme="dark"]:not([data-nohover]):focus {
    --background: var(--color-white);
    --color: var(--color-blue);

    outline: 2px solid var(--color-teal);
  }
}
