.Copyright {
  --block-padding: 1rem;

  padding-block: var(--block-padding);

  color: var(--color-white);

  background-color: var(--color-gray-5);
}

.Footer {
  color: var(--color-white);

  background-color: var(--color-black-full);
}

.Footer a {
  color: var(--color-white);
}
