.Link {
  padding: 1rem;

  color: var(--theme-color-link-default);
  font: var(--font-h4);
  text-decoration: none;

  background-color: var(--theme-color-background-default);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--theme-color-border-light);
  filter: var(--drop-shadow);
  transition: var(--transition-transform);
}

@media not (prefers-reduced-motion) and (hover: hover) {
  .Link:hover,
  .Link:focus {
    transform: scale(1.1) rotate(-1deg);
  }
}

.List {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;

  list-style: none;
}

.PreviewImage {
  --size: 3rem;

  position: relative;

  height: var(--size);
  width: var(--size);

  border-radius: 0.25rem;
  overflow: hidden;
}

.PreviewImage > * {
  inset: 0;
  position: absolute;
}

.Tag {
  padding: 0.25rem 0.5rem;

  color: var(--theme-color-text-alternate);

  background-color: var(--theme-color-background-alternate);
  border-radius: 0.25rem;
}
