.Icon {
  height: 1rem;

  fill: currentColor;
}

.SaveColorMode {
  --size: 2rem;

  height: var(--size);
  margin: 0;
  padding: 0;
  width: var(--size);

  color: var(--theme-color-text-default);

  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: var(--transition-opacity);
}

.Switch {
  --switch-height: 1rem;
  --switch-width: 2rem;

  position: relative;

  display: inline-block;
  height: var(--switch-height);
  width: var(--switch-width);
}

.SwitchInput {
  height: 0;
  width: 0;

  opacity: 0;
}

.SwitchSlider {
  inset: 0;
  position: absolute;

  background-color: var(--theme-color-border-alternate);
  border-radius: var(--switch-height);
  cursor: pointer;
  transition: var(--transition-timing);
}

.SwitchSlider:before {
  --offset: 0;
  --slider-size: 1rem;

  left: var(--offset);
  bottom: var(--offset);
  position: absolute;

  height: var(--slider-size);
  width: var(--slider-size);

  background-color: var(--theme-color-background-default);
  border: 1px solid var(--theme-color-border-alternate);
  border-radius: 50%;
  content: "";
  transition: var(--transition-timing);
}

.SwitchInput:focus + .SwitchSlider {
  box-shadow: 0 0 1px var(--theme-color-link-default);
}

.SwitchInput:checked + .SwitchSlider:before {
  transform: translateX(var(--slider-size));
}

.ThemeToggle {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: var(--z-theme-toggle);

  padding-inline: 0.5rem;

  background-color: var(--theme-color-background-default);
  border: 1px solid var(--theme-color-border-alternate);
  border-radius: 0.5rem 0 0 0;
  border-bottom: none;
  border-right: none;
}

@media (hover: hover) {
  .SaveColorMode:hover,
  .SaveColorMode:focus {
    opacity: 1;
  }
}
