.Tiles {
  --columns: 1fr;

  display: grid;
  gap: 1rem;
  grid-template-columns: var(--columns);
  grid-template-rows: repeat(2, auto);
}

.Tiles > *:nth-child(1) {
  grid-column: span 1;
  grid-row: 1 / span 2;
}

@media (min-width: 700px) {
  .Tiles {
    --columns: repeat(2, 1fr);
  }
}
