.background\:gray-5 {
  background-color: var(--color-gray-5);
}

.background\:blue-to-dark {
  background: linear-gradient(
    97.48deg,
    var(--color-blue) 0%,
    var(--color-black) 100%
  );
}

.background\:green-to-dark {
  background: linear-gradient(
    105.66deg,
    var(--color-black) 0%,
    var(--color-green) 100%
  );
}

.background\:gray-to-black {
  background: var(--color-gradient-darkness);
}
