.description {
  max-width: 40rem;
  padding-left: 2rem;
}

.header {
  --bg: var(--color-yellow);
  position: relative;

  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.section[data-section="2"] .header {
  --bg: var(--color-green);
}

.section[data-section="3"] .header {
  --bg: var(--color-blue);
}

.header::before {
  display: block;

  height: 1.5rem;
  width: 1.5rem;

  background-color: var(--bg);
  border-radius: 50%;
  content: "";
}

.header::after {
  display: block;

  height: 0.25rem;
  flex: 1;
  width: auto;

  background-color: var(--bg);
  content: "";
}

.header svg {
  left: calc(0.75rem - 2px);
  position: absolute;
  top: 2rem;
}

@media (max-width: 999px) {
  .header svg {
    display: none;
  }

  .button {
    margin-left: 2rem;
  }
}

@media (min-width: 1000px) {
  .section[data-section="2"] {
    padding-left: 9rem;
  }

  .section[data-section="3"] {
    padding-left: 18rem;
  }

  .button {
    margin-left: 9rem;
  }
}
