.BlogPost {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.BlogPost a {
  color: var(--theme-color-link-default);
  font-weight: 600;
  text-decoration: none;
}

html .BlogPost pre code {
  padding: 2rem;

  font-size: 1rem;
  line-height: 1.618;

  border-radius: var(--border-radius-default);
}
