.Description {
  position: absolute;
  top: 100%;
  z-index: 2;

  padding: 0.5rem;
  width: 12rem;

  font: var(--font-small);

  background-color: var(--theme-color-background-default);
  border: 1px solid var(--theme-color-border-default);
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow);
  pointer-events: none;
}

.Links {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.Link {
  color: var(--theme-color-text-alternate);
  font: var(--font-h5);

  text-decoration: none;
}

.ListItem {
  position: relative;
}
