.Container {
  display: flex;
  gap: 2rem;
}

.Header {
  position: sticky;
  top: 0;
  z-index: var(--z-header);

  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: var(--header-height);

  color: var(--color-text-alternate);

  background: var(--color-gradient-darkness);
}

@media (min-width: 1000px) {
  .Header a {
    color: var(--theme-color-text-alternate);
  }
}
