.align-items\:center {
  align-items: center;
}

.block-gap\:1 > * + * {
  margin-top: 1rem;
}

/* 
  ? Container
  Wraps around main page content
  * =================================================================
*/

.container {
  --mw: var(--max-width);
  --padding: 1rem;

  margin-inline: auto;
  max-width: var(--mw);
  width: 100%;
  padding-inline: var(--padding);
}

@media (min-width: 700px) {
  .container {
    --padding: 2rem;
  }
}

.container--blog {
  --mw: var(--blog-max-width);
}

/* 
  ? Gap
  All gap-related styling
  * =================================================================
*/

.gap\:0\.5 {
  gap: 0.5rem;
}

.gap\:1 {
  gap: 1rem;
}

.gap\:2 {
  gap: 2rem;
}

.gap\:3 {
  gap: 3rem;
}

/* 
  ? Grid
  All grid-related styling
  * =================================================================
*/

/* DA GRID */
.griddy {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.columns\:1 {
  grid-column: span 1;
}
.columns\:2 {
  grid-column: span 2;
}
.columns\:3 {
  grid-column: span 3;
}
.columns\:4 {
  grid-column: span 4;
}

@media (min-width: 700px) {
  .sm\:columns\:1 {
    grid-column: span 1;
  }
  .sm\:columns\:2 {
    grid-column: span 2;
  }
  .sm\:columns\:3 {
    grid-column: span 3;
  }
  .sm\:columns\:4 {
    grid-column: span 4;
  }
}

@media (min-width: 1000px) {
  .md\:columns\:1 {
    grid-column: span 1;
  }
  .md\:columns\:2 {
    grid-column: span 2;
  }
  .md\:columns\:3 {
    grid-column: span 3;
  }
  .md\:columns\:4 {
    grid-column: span 4;
  }
}

/* 
  ? Grid: Strict Columns
  Always split in half, regardless of browser size
  * =================================================================
*/
.grid\:1\/1 {
  grid-template-columns: repeat(2, 1fr);
}

/* 
  ? Grid: Responsive Columns
  Split in half when the content can be at least 500px wide
  * =================================================================
*/
.grid\:cols-2 {
  --min-column: 18rem;

  grid-template-columns: repeat(auto-fit, minmax(var(--min-column), 1fr));
}

.grid\:cols-3 {
  --min-column: 20rem;

  grid-template-columns: repeat(auto-fit, minmax(var(--min-column), 1fr));
}

/* 
  ? Justify
  Sets how to justify content
  * =================================================================
*/

.justify-content\:center {
  justify-content: center;
}

/* 
  ? Page Body
  Sets block padding for main page content
  * =================================================================
*/

.page-body {
  --padding-block: 1.5rem;

  padding-block: var(--padding-block);
}

@media (min-width: 700px) {
  .page-body {
    --padding-block: 3rem;
  }
}

@media (min-width: 1000px) {
  .page-body {
    --padding-block: 6rem;
  }
}
