.align-items\:center {
  align-items: center;
}

.block-gap\:1 > * + * {
  margin-top: 1rem;
}

/* 
  ? Container
  Wraps around main page content
  * =================================================================
*/

.container {
  --mw: var(--max-width);

  margin-inline: auto;
  max-width: var(--mw);
  width: 100%;
  padding-inline: 1rem;
}

.container--blog {
  --mw: var(--blog-max-width);
}

/* 
  ? Flex
  All flex-related styling
  * =================================================================
*/

.flex {
  display: flex;
}

.flex-direction\:column {
  flex-direction: column;
}

/* 
  ? Gap
  All gap-related styling
  * =================================================================
*/

.gap\:0\.5 {
  gap: 0.5rem;
}

.gap\:1 {
  gap: 1rem;
}

.gap\:2 {
  gap: 2rem;
}

.gap\:3 {
  gap: 3rem;
}

/* 
  ? Grid
  All grid-related styling
  * =================================================================
*/

.grid {
  display: grid;
}
/* 
  ? Grid: Strict Columns
  Always split in half, regardless of browser size
  * =================================================================
*/
.grid\:1\/1 {
  grid-template-columns: repeat(2, 1fr);
}

/* 
  ? Grid: Responsive Columns
  Split in half when the content can be at least 500px wide
  * =================================================================
*/
.grid\:cols-2 {
  --min-column: 18rem;

  grid-template-columns: repeat(auto-fit, minmax(var(--min-column), 1fr));
}

.grid\:cols-3 {
  --min-column: 20rem;

  grid-template-columns: repeat(auto-fit, minmax(var(--min-column), 1fr));
}

/* 
  ? Justify
  Sets how to justify content
  * =================================================================
*/

.justify-content\:center {
  justify-content: center;
}

/* 
  ? Page Body
  Sets block padding for main page content
  * =================================================================
*/

.page-body {
  --padding-block: 1.5rem;

  padding-block: var(--padding-block);
}

@media (min-width: 700px) {
  .page-body {
    --padding-block: 3rem;
  }
}

@media (min-width: 1000px) {
  .page-body {
    --padding-block: 6rem;
  }
}
