.H2 {
  position: relative;
}

.Header {
  --text-color: var(--color-black);

  position: relative;

  color: var(--text-color);
}

.Header[data-style="blue"] {
  --bg: var(--color-blue);
  --text-color: var(--color-white);
}

.Header[data-style="yellow"] {
  --bg: var(--color-yellow);
  --text-color: var(--color-black);
}

.HeaderBg {
  --left: -30vw;
  --offset: -2rem;
  --height: 7.5rem;

  left: var(--left);
  position: absolute;
  top: var(--offset);

  height: var(--height);
  width: 100vw;

  background-color: var(--bg);
  transform: rotate(-2deg);
}
